@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 188 86% 53%;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --input: 214.3 31.8% 91.4%;
    --cyan: #67e8f9; /** brand color cyan.300 **/
    --cyan-dark: #22d3ee; /** brand color cyan.400 **/
    --muted: 210 40% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --primary: 222.2 47.4% 6.9%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    /* --radius: 0.375rem; */
    --radius: 0.5rem;
    --twitter-blue: #57bbf5; /* https://chakra-ui-cheatsheet.vercel.app/ */
    --height-footer: 100px;
    --height-header: 72px;
    --height-ticker: 48px;
    --tw-gradient-from: red;
    --tw-gradient-to: blue;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
}

@layer utilities {
  .animation-paused {
    animation-play-state: paused;
  }
}

*::selection {
  background-color: var(--cyan);
  color: var(--primary);
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24);
  /* background-color: rgba(0, 0, 0, 0.36); */
  /* background-color: rgba(0, 0, 0, 0.48); */
  /* background-color: rgba(0, 0, 0, 0.64); */
  border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
  width: 0px;
  /* visibility: hidden; */
  /* height: 0; */
  background-color: white;
  transition: 1s all;
}

#sidebar:hover::-webkit-scrollbar-thumb {
  width: 8px;
  /* opacity: 1; */
  /* visibility: visible; */
  /* height: auto; */
  background-color: rgba(0, 0, 0, 0.24);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-text {
  /* background: linear-gradient(180deg, #ffffffff, #ffffff66); */
  /* background: linear-gradient(-90deg, #ffffff 0%, #939393 100%);
    background: linear-gradient(-90deg, #ffffff 0%, #939393 50%, #ffffff 100%); */
  background: linear-gradient(-90deg, #939393 0%, #ffffff 50%, #939393 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#nprogress {
  height: 100%;
}

#nprogress .bar {
  height: 100%;
  background: linear-gradient(to right, var(--cyan), var(--cyan-dark));
  box-shadow: 0px 0px 5px 1px var(--cyan);
}

#loading-bar {
  height: 5px;
}

#hero-bg::after {
  backdrop-filter: blur(100px);
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% + 5px);
}

/* .chakra-ui-dark #hero::after {
    background: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.9),
        #1A202C
      );
  } */

/* .chakra-ui-light #hero::after {
    background: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.9),
        rgb(255, 255, 255)
      );
  } */

.swiper-wrapper {
  padding: 4px;
}

/** MARQUEE */
.marquee,
.marquee-container,
.initial-child-container {
  gap: 40px;
}

/** CAROUSEL */
.splide__slide {
  margin: 0 1rem !important;
}
/* .splide__arrow {
  background: hsl(var(--background)) !important;
  opacity: 1 !important;
  border: 1px solid hsl(var(--border)) !important;
}
.splide__arrow:hover {
  opacity: 0.7 !important;
}
.splide__arrow--prev {
  left: -0.5rem !important;
}
.splide__arrow--next {
  right: -0.5rem !important;
} */

/** REACT-INFINITE-SCROLL-COMPONENT */
.infinite-scroll-component__outerdiv {
  width: 100%;
}
